doctype html
html(style="font-size: 50px;")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title CIDialog
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")

    link(rel="stylesheet" href="/style/ci-ui-base.css")
    link(rel="stylesheet" href="/style/ci-button.css")
    link(rel="stylesheet" href="/style/ci-modals.css")
    link(rel="stylesheet" href="/style/main.css")

  body
    div.app-header
      div.app-header__inner
        strong.app-logo CafeInit

    div.app-body
      block content

    div.app-footer
      div.app-footer__inner
        p.copyright
          | Powered by 
          a(href="http://www.cafeinit.com") CafeInit
